<ion-view>
       
    <div class="card">
        <h2 class="" style="background:#c0c0c0">Photos</h2>
        <div class="well">
            <div class="card-body card-padding">
                
                <div class="pm-body clearfix">
                    <div class=" clearfix photos">          
                        <div class="lightbox row">
                            
                            <div class="lightbox" id="lightbox">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <h2 class=""  style="background:#c0c0c0">Videos</h2>
        <div class="well">
            <div class="card-body card-padding">
               
                <div class="row">
                    <div class="col-sm-6 m-b-20" id="videoUrl"></div>  
                </div>
            </div>
        </div> 
    </div>
        
</ion-view>
